In [26]:
%reload_ext autoreload
%autoreload 2

In [27]:
import sys
sys.path.remove('c:\\Users\\Pandas\\taxi_demand_predictor\\notebooks')
sys.path.append('c:\\Users\\Pandas\\taxi_demand_predictor\\')

ValueError: list.remove(x): x not in list

In [28]:
from src.data import load_raw_data

rides = load_raw_data(year=2022, months= [1,2,3,4,5,6,7,8,9,10])

File 2022-01 was already in local storage
File 2022-02 was already in local storage
File 2022-03 was already in local storage
File 2022-04 was already in local storage
File 2022-05 was already in local storage
File 2022-06 was already in local storage
File 2022-07 was already in local storage
File 2022-08 was already in local storage
File 2022-09 was already in local storage
File 2022-10 was already in local storage

In [29]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:01<00:00, 175.42it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00      0                   1
1       2022-01-01 01:00:00      0                   1
2       2022-01-01 02:00:00      0                   1
3       2022-01-01 03:00:00      0                   1
4       2022-01-01 04:00:00      1                   1
...                     ...    ...                 ...
1933435 2022-10-31 19:00:00      2                 265
1933436 2022-10-31 20:00:00     10                 265
1933437 2022-10-31 21:00:00      6                 265
1933438 2022-10-31 22:00:00      8                 265
1933439 2022-10-31 23:00:00      4                 265

[1933440 rows x 3 columns]

In [30]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:12<00:00, 21.24it/s]

features.shape=(73140, 674)
targets.shape=(73140,)

In [ ]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')